.hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery__item img {
  width: 100%;
  height: auto;
  display: block;
}

.load-more {
  margin: 20px auto;
  display: block;
}

.loader {
  text-align: center;
  margin: 10px;
}
